# msbuild output directories
/bin
/obj

# msbuild cache files
*.cache

# Your machines individiual editorconfig
*.editorconfig

# Exclude .NET assemblies from source
*.dll

# MSBuild Binary and Structured Log
*.binlog

# Build artifacts
*.zip
