# msbuild output directories
bin/
obj/

# msbuild cache files
*.cache

# Your machines individiual editorconfig
*.editorconfig

# Exclude .NET assemblies from source
*.dll

# MSBuild Binary and Structured Log
*.binlog

# Build artifacts - Removed on Nov 3, 2023 as we want to start providing managed and unmanaged solution zips to the Git Repo
# *.zip
